<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date FNS sample</title>
    <script src="http://cdn.date-fns.org/v2.0.0-alpha0/date_fns.js"></script>
</head>
<body>
    <div id="sample">

    </div>
    <script type="module">
        import {format} from 'dateFns'
        // Represent 11 February 2014 in middle-endian format:
const result = format(new Date(2014, 1, 11), 'MM/dd/yyyy')
//=> '02/11/2014'
        document.getElementById("sample").innerText = result;
    </script>
</body>
</html>