<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google font example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,100&family=Oswald:wght@700&display=swap" rel="stylesheet">
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
</head>
<body>
    <H1 style="font-family: 'Oswald', sans-serif;">Some text to demonstrate fonts</H1>
    <iconify-icon icon="solar:airbuds-case-open-broken" width="150" height="150" rotate="270deg"></iconify-icon>
    <iconify-icon icon="solar:bag-smile-broken" width="150" height="150"></iconify-icon>
    <span class="iconify" data-icon="mdi-light:account" data-width="150" data-height="150"></span>
</body>
</html>